* {
    box-sizing: border-box;
}
:root {
    --light-purple: rgb(134, 91, 172);
    --purple: rgb(114,65,157);
    --dark-purple: rgb(89, 27, 144);
    --dark-purple-shadow: #4d2a72;
    --dark-purple-shadow-buttons: #3a1363;
    --screen: #838F6F;
    --darkGray: #444751;
    --darkGray2: #18181a;
    --red: #FF2020;
}
body {
    background: rgb(250, 220, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;
}
.gameboy {
    display: flex;
    width: 20em;
    height: 33em;
    justify-content: center;
    background: var(--purple);
    border-radius: 0.75em 0.75em 3.12em 0.75em;
    border: 0.40em solid black;
    box-shadow: 1.8em 1.25em 0 rgba(0, 0, 0, 0.30);
}
.stripe1{
    display: flex;
    height: 0.3em;
    width: 19.6em;
    background: black;
    margin-top: 2em;
    margin-left: -0.3em;
}
.stripedx {
    display: flex;
    height: 0.3em;
    width: 2em;
    background: black;
    z-index: 6;
}
.stripeiz {
    display: flex;
    height: 0.3em;
    width: 2em;
    background: black;
    margin-left: -19.5em;
    z-index: 6;
}
.stripevertical1 {
    display: flex;
    height: 2em;
    width: 0.3em;
    background: black;
    margin-left: 2em;
    margin-top: -2em;
}
.stripevertical2 {
    display: flex;
    height: 2em;
    width: 0.3em;
    background: black;
    margin-top: -2em;
    margin-left: 15em;
}
.borderscreen{
    display: flex;
    height: 13em;
    width: 15em;
    background: var(--darkGray);
    border: 0.3em solid black;
    margin-top: 3.2em;
    margin-left: -17.3em;
    border-radius: 1em 1em 3em 1em;
}
.screen {
    display: flex;
    height: 10em;
    width: 10em;
    background: var(--screen);
    border-radius: 0.2em;
    border: 0.3em solid black;
    margin-left: 2.15em;
    margin-top: 1em;
}
.powerlight {
    display: flex;
    height: 0.45em;
    width: 0.45em;
    border-radius: 50%;
    background: rgb(104, 0, 0);
    margin-left: -11.2em;
    margin-top: 5em;
}
.powershadow {
    background: red;
    box-shadow: 0em 0em 0.2em 0.2em red;
}
.on {
    display: flex;
    height: 2em;
    width: 0.4em;
    background-color: black;
    border-radius: 2em 0em 0em 2em;
    margin-top: 5em;
    margin-left: -0.6em;
}
.on:hover {
    cursor: pointer;
    transition: 1s;
    margin-top: 4.5em;
}
.onPower {
    background-image: url(../gifs/intro.gif);
    background-repeat: no-repeat;
    background-size: 9.5em 8em;
    align-items: center;
    background-color: rgb(247,247,247);
}
.joystick {
    position: absolute;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    background-color: var(--dark-purple-shadow);
    margin-top: 19em;
    margin-left: -17.8em;
}
.joystickvertical {
    display: flex;
    height: 5em;
    width: 1.6em;
    background: var(--darkGray);
    border: 0.2em solid black;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: 2.7em;
}
.joysticklateral {
    display: flex;
    height: 1.6em;
    width: 5em;
    background: var(--darkGray);
    border: 0.2em solid black;
    border-radius: 0.5em;
    margin-top: -3.3em;
    margin-left: 1em;
}
.square {
    display: flex;
    height: 1.7em;
    width: 1.2em;
    background: var(--darkGray);
    margin-left: 1.7em;
    margin-top: -0.3em;
}
.buttons {
    position: absolute;
    height: 3em;
    width: 6.2em;
    background: var(--dark-purple-shadow);
    border-radius: 3em;
    margin-top: 21em;
    margin-left: -8em;
    transform: rotate(-45deg);
}
.buttona {
    display: flex;
    height: 2.2em;
    width: 2.2em;
    background: var(--darkGray);
    border: 0.2em solid black;
    border-radius: 50%;
    margin-top: 0.4em;
    margin-left: 0.6em;
}
.buttona:hover {
    cursor: pointer;
    box-shadow: inset 0.1em 0.1em 0.1em 0.05em var(--darkGray2);
}
.onButtonA {
    background-image: url(../gifs/battlepika.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.buttonb {
    display: flex;
    height: 2.2em;
    width: 2.2em;
    background: var(--darkGray);
    border: 0.2em solid black;
    border-radius: 50%;
    margin-left: 3.5em;
    margin-top: -2.2em;
}
.buttonb:hover {
    cursor: pointer;
    box-shadow: inset 0.1em 0.1em 0.1em 0.05em var(--darkGray2);
}

.selectbutton {
    display: flex;
    height: 2em;
    width: 0.8em;
    border: 0.25em solid black;
    border-radius: 0.4em;
    margin-top: 27em;
    margin-left: -11em;
    transform: rotate(40deg);
}
.selectbutton:hover {
    cursor: pointer;
    box-shadow: inset 0.1em 0.1em 0.1em 0.05em var(--darkGray2);
}
.selectOn {
    background-image: url(../gifs/pika.gif);
    background-size: 9.5em 9.5em;
    background-repeat: no-repeat;
}
.startbutton {
    display: flex;
    height: 2em;
    width: 0.8em;
    border: 0.25em solid black;
    border-radius: 0.4em;
    margin-top: -2em;
    margin-left: -9em;
    transform: rotate(40deg);
}
.startbutton:hover {
    cursor: pointer;
    box-shadow: inset 0.1em 0.1em 0.1em 0.01em var(--darkGray2);
}
.stripes {
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-top: -4em;
    margin-left: -1em;
    transform: rotate(-45deg);
}
.stripe, .stripe, .stripe, .stripe, .stripe .stripe {
    display: flex;
    height: 3em;
    width: 0.4em;
    background: var(--darkGray2);
    margin-left: -1.5em;
    border-radius: 2em 2em 2em 2em;
}

.lightshadow {
    display: flex;
    height: 32.2em;
    width: 0.75em;
    background-color: var(--light-purple);
    border-radius: 1em 3em 2.5em 1em;
    margin-top: 0em;
    margin-left: -19.2em;
}
.darkshadow {
    display: flex;
    height: 29em;
    width: 0.75em;
    background: var(--dark-purple);
    border-radius: 3em 1em 1em 1em;
    margin-top: -32em;
    margin-left: -0.7em;
    z-index: 1;
}
.cornershadow {
    position: absolute;
    border-bottom: 5.3125em solid var(--dark-purple);
    border-left: 5.3125em solid transparent;
    border-radius: 1em 1em 2.7em 1em;
    margin-top: 26.96em;
    margin-left: 13.9em;
}
.bottomshadow {
    display: flex;
    height: 0.75em;
    width: 15em;
    background: var(--dark-purple);
    border-radius: 3em 3em 1em 0.5em;
    margin-top: 2.3em;
    margin-left: -18.9em;
}

