* {
    box-sizing: border-box;
}
:root {
    --light-purple: #6a559c;
    --purple: #564092;
    --dark-purple: #3e148b;
    --dark-purple-shadow: #13025f;
    --screen: #838F6F;
    --darkGray: #444751;
    --darkGray2: #18181a;
    --red: #FF2020;
}
body {
    background: #fae480;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;
}
.gameboy {
    display: flex;
    width: 20em;
    height: 33em;
    justify-content: center;
    background: var(--purple);
    border-radius: 0.75em 0.75em 3.12em 0.75em;
    border: 0.40em solid black;
    box-shadow: 1.8em 1.25em 0 rgba(0, 0, 0, 0.30);
}
.stripe1{
    display: flex;
    height: 0.3em;
    width: 19.6em;
    background: black;
    margin-top: 2em;
}
.stripevertical1 {
    display: flex;
    height: 2em;
    width: 0.3em;
    background: black;
    margin-left: 2em;
    margin-top: -2em;
}
.stripevertical2 {
    display: flex;
    height: 2em;
    width: 0.3em;
    background: black;
    margin-top: -2em;
    margin-left: 15em;
}
.borderscreen{
    display: flex;
    height: 13em;
    width: 15em;
    background: var(--darkGray);
    border: 0.3em solid black;
    margin-top: 3em;
    margin-left: -17.3em;
    border-radius: 1em;
}
.screen {
    display: flex;
    height: 10em;
    width: 10em;
    background: var(--screen);
    border-radius: 0.2em;
    border: 0.3em solid black;
    margin-left: 2em;
    margin-top: 1em;
}
.powerlight {
    display: flex;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    background: var(--red);
    margin-left: -11.2em;
    margin-top: 5em;
}

